<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>

  <div class="field">
    <%= form.label :date_from %>
    <%= form.datetime_select :date_from %>
  </div>

  <div class="field">
    <%= form.label :date_to %>
    <%= form.datetime_select :date_to %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
